*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    background-color: #000000;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* Section 1 */
.landing{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(-135deg, rgba(0,0,0,0.9), rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.8)), url('background_image.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: 15px solid #222222;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    margin: 0 20px;
}

.navbar img{
    width: 250px;
}

.cta a{
    text-decoration: none;
    font-size: 28px;
    background-color: #E50914;
    color: #fff;
    padding: 15px 30px;
    border-radius: 5px;
}

.section1-container{
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-top: 8%;
}

.landing-page-text{
    display: flex;
    flex-flow: column wrap;
    text-align: center;
    width: 48%;
    justify-content: center;
    margin: auto;
    gap: 20px;
    color: #fff;
}

.landing-page-text h1{
    font-size: 72px;
}

.landing-page-text p{
    font-size: 42px;
}

.landing-page-text span{
    font-size: 30px;
}

.landing-page-input{
    text-align: center;
    color: #fff;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    margin: 30px auto;
}

input[placeholder='Email address']{
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-right: 30rem;
    padding-left: 2rem;
    width: 100%;
    font-size: 24px;
}

.landing-page-input .cta-getstarted{
    padding: 1.7rem;
    font-size: 32px;
    background-color: #E50914;
}

/* Section2 */
.section2-col1 h2, .section3_col2 h2, .section4-content h2, .section5-col2 h2, .section6 h2{
    font-size: 64px;
    margin-bottom: 25px;
}

.section2-col1 p, .section3_col2 p, .section4-content p, .section5-col2 p{
    font-size: 38px;
}

.section2, .section3, .section4, .section5, .section6{
    border-bottom: 15px solid #222222;
}

.section2-container{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    color: #fff;
    column-gap: 7rem;
    margin: 7% auto;
}

.section2-col1{
    width: 40%;
}

.section2-col2 img{
    height: 400px;
}

/* Section 3 */
.section3-container{
    display: flex;
    color: #fff;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: 0 auto;
    column-gap: 8rem;
}

.section3_col2{
    width: 35%;
}

.mobile-view img{
    height: 600px;
    margin-right: 35px;
}

.movie-card-container{
    display: flex;
    border: 5px solid #222222;
    border-radius: 30px;
    width: 550px;
    padding: 10px 20px;
    justify-content: space-between;
    align-items: center;
    position: relative;
    bottom: 12rem;
    left: 7rem;
    background-color: #000000;
}

.movie-card{
    display: flex;
    column-gap: 20px;
    align-items: center;
}

.movie-card img{
    height: 120px;
}

.fa-arrow-down-long{
    font-size: 24px;
}

.movie-card-text > p{
    font-size: 26px;
    font-weight: 700;
}

.movie-card-text > span{
    font-size: 22px;
    font-weight: 600;
    color: #0071DC;
}

/* Section 4 */
.section4{
    padding: 5rem 10rem;
}
.section4-content{
    color: #fff;
    width: 45%;
}

/* Section 5 */
.section5-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 7rem 5rem;
    color: #fff;
    column-gap: 10rem;
}

.section5-col2{
    width: 40%;
}

/* Section 6 */
.section6{
    padding-bottom: 80px;
}

.container {
    align-items: center;
    justify-content: center;
    max-width: 1200px;
    padding: 0 20px;
    margin: 20px auto;
    font-size: 32px;
    color: #fff;
}

.container h2 {
    text-align: center;
    font-size: 64px;
    padding: 30px 10px;
    margin-bottom: 25px;
}

.container .parent-container {
    margin-bottom: 10px;
    background-color: #303030;
}

.container .parent-container label {
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 99;
}

.container label span {
    font-size: 36px;
    font-weight: 500;
    padding: 20px;
}

.container label .icon {
    height: 30px;
    width: 30px;
    display: block;
}

.parent-container input:checked~label .icon i::before {
    content: '\f00d';
}

.container .parent-container .content {
    max-height: 0px;
    overflow: hidden;
    transition: all 0.4s ease;
    border-top: 3px solid #222;
}

.parent-container input:checked~.content {
    max-height: 100vh;
}

.container .parent-container .content p {
    padding: 30px 35px;
}

.container input {
    display: none;
}

.section6-input{
    margin-top: 80px;
}

.section6-input p {
    font-size: 30px;
    color: #fff;
    text-align: center;
}

/* Footer */
.footer{
    width: 80%;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: 0 auto;
    padding: 5rem;
}

.footer-links{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5rem;
    margin-bottom: 4rem;

}

.footer p{
    color: #737373;
    font-size: 26px;
    margin: 80px 15px 40px;
}

.footer-links ul li{
    color: #737373;
    font-size: 20px;
    list-style-type: none;
    padding: 15px;
}

.footer span{
    color: #737373;
    font-size: 20px;
    margin: .7rem;
}